.transition {
    width: 100px;
    height: 100px;
    transition: width 2s;
}

.transition:hover {
    width: 900px;
}

.bobble {
    animation: bobble 2s infinite;
}

@keyframes bobble {
    0% {
        transform: translateX(10px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateX(40px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateX(10px);
    }
}

.deathstar {
    animation-name: deathstar;
    animation-duration: 25s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes deathstar {
    0% {
        transform: translate3d(20px, 0px, 0px);
    }
    50% {
        transform: translate3d(400px, 0px, 0px);
    }
    100% {
        transform: translate3d(140px, 0px, 0px);
    }
}